flow.json
[{"id":"eaff9a0b.b92438","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"c791e382.f6e708","type":"ui_tab","z":"","name":"モニタ","icon":"dashboard","disabled":false,"hidden":false},{"id":"177131d6.4145e6","type":"ui_group","z":"","name":"CPU","tab":"c791e382.f6e708","order":1,"disp":true,"width":"6","collapse":false},{"id":"f22cb80f.a228b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f3f1a364.58b518","type":"inject","z":"eaff9a0b.b92438","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["e94b82a4.c1b31"]]},{"id":"e94b82a4.c1b31","type":"debug","z":"eaff9a0b.b92438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":160,"wires":[]},{"id":"5477da9c.955f6c","type":"cpu","z":"eaff9a0b.b92438","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":310,"y":260,"wires":[["7303d4cc.a2e36c"]]},{"id":"7303d4cc.a2e36c","type":"ui_chart","z":"eaff9a0b.b92438","name":"","group":"177131d6.4145e6","order":1,"width":0,"height":0,"label":"CPU","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":260,"wires":[[]]},{"id":"1e330b4e.a46da5","type":"inject","z":"eaff9a0b.b92438","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["5477da9c.955f6c"]]},{"id":"8c2fe5f.59e8898","type":"inject","z":"eaff9a0b.b92438","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["7303d4cc.a2e36c"]]}]